/******* Change Box Model ***************/

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;

}

input:required:invalid, input:focus:invalid {
  background-image: url(/images/invalid.png);
  background-position: right top;
  background-repeat: no-repeat;
}

  input:required:valid {
  background-image: url(/images/valid.png);
  background-position: right top;
  background-repeat: no-repeat;
}

/* .error {
  display: none;
}

input:invalid + .error {
  display: block;
} */

#add-classification {
  display: inline-block;
  padding: 10px 20px;
  background-color: #0077c2;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  margin-right: 20px;
}

/* Hover state */
#add-classification:hover {
  background-color: #0065a8;
  color: #fff;
}

/* Style for links with 'add-vehicle' id */
#add-vehicle {
  display: inline-block;
  padding: 10px 20px;
  background-color: #0077c2;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
}

/* Hover state */
#add-vehicle:hover {
  background-color: #0065a8;
  color: #fff;
}

form {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 100px auto;
  padding: 20px 30px;
  max-width: 400px;
}
h2 {
  text-align: center;
}
label {
  display: block;
  margin-bottom: 8px;
}
input[type=text], input[type=email], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.password-toggle {
  display: inline-block;
  margin-left: 8px;
  cursor: pointer;
}
button[type=submit] {
  background-color: #4CAF50;
  color: black;
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}
button[type=submit]:hover {
  background-color: #45a049;
}
.required:after {
  content: " *";
  color: red;
}
h2 {
  text-align: center;
}
label {
  display: block;
  font-weight: bold;
  margin-top: 10px;
}
input[type="text"],
input[type="password"] {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
}
input[type="submit"] {
  background-color: #4CAF50;
  border: none;
  border-radius: 5px;
  color: black;
  cursor: pointer;
  margin-top: 20px;
  padding: 10px;
  width: 100%;
}
input[type="submit"]:hover {
  background-color: #45a049;
}
.split{
  display: flex;
  flex-direction: row;
  gap: 10px;
}
body{
  background-image: url(../images/site/small_check.jpg) ;
}

.split img{
  width: 100%;
}

#wrapper{
  margin: 1.5rem 4.5vw 0 4.5vw;
  background: white ;
  border-radius: 10px;
  border: 4px solid #20e1f3;
  padding: 30px 10px 0px 10px;
  
}

#top-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#home_car{
  width: 55vw;
  height: 18rem;
  position: relative;
  right: 3vw;
}

#banner_box img{
  margin-top: 20px;
  width: 90%;
  height: 2.5rem;
}

#banner_box h4{
  margin-top: 1px;
  margin-bottom: 7px;
}


#banner_box h3{
  margin-bottom: 7px;

}

#banner_box{
  padding-left: 20px;
  width: 10rem;
  height: max-content;
  text-decoration: none;
  position: relative;
  left: 4vw;
  z-index: 1;
  background-color: aqua;
  background-color: rgba(252, 251, 251, 0.864);
  color: rgb(10, 132, 180);
}

#banner{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.homelink{
  font-size: 30px;
  color: black;
  text-decoration: none;
  font-weight: 1000;
}

.accountLink a{
  color: black;
  text-decoration: none;
}

nav{
  margin-top: 20px;
  background-color: black;
  color: white;
  padding-top: 0.02pt;
  padding-bottom: 0.02pt;
}

#under{
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  width: 100%;
  gap:2vw
}

.under_row{
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}




nav ul {
  display: flex;
  flex-direction: row;
  gap:10vw;
  justify-content: center;
  list-style-type: none;  
  padding-right: 40px;
}
nav ul li a{
  color: white !important;
  text-decoration: none;
}

.upgrades{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  

}
.upgrades > p{
  text-decoration: underline;
  margin-top: 0;
}

.upgrades_img{
  background-color: rgb(10, 132, 180);
  width: 17vw;
  height: 5.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
}

.main_row{
  width: 50%;

}
#reviews{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#inv-display li{
  border-radius: 25px;
  list-style-type: none;
  border: 2px solid black;
  width: auto;
  padding: 30px;
  flex-wrap: wrap;
}

#inv-display{
  display: flex;
  flex-wrap: wrap;
  gap: 5vw;
}

@media only screen and (max-width: 600px) {
  #wrapper{
    margin: 0;
  background: white ;
  border-radius: 10px;
  border: none;
  padding: 0;
  }

  body{
   background: white;
  }

  nav ul {
    gap: 8vw;
  }

  #banner_box {
    left: 1vw;
    
  }
  #banner_box img {
    margin-top: 0px;
    width: 90%;
    height: 2.5rem;
}

.split{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

  #home_car {
    width: 60vw;
    height: 10rem;
    position: relative;
    right: 10vw;
}

#under {
  margin-top: 20px;
  display: flex;
  flex-direction: column-reverse;
  gap: 0;
}

.main_row {
  width: 100%;
}

#reviews {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.under_row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2vw;
}

.upgrades {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 47%;
}

.upgrades_img {
  background-color: rgb(10, 132, 180);
  width: 100%;
  height: 5.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
}
  

nav ul {
  display: flex;
  flex-direction: row;
  gap:15px;
  justify-content: center;
  list-style-type: none;  
  padding-right: 40px;
}

#inv-display li{
  border-radius: 25px;
  list-style-type: none;
  border: 2px solid black;
  width: 100%;
  padding: 30px;
  flex-wrap: wrap;
  
}

#inv-display{
  display: flex;
  flex-wrap: wrap;
  gap: 5vw;
  justify-content: center;
  align-items: center;
}

}