<% if (message) { %>
<p class="notice"><%= message %></p>
<% } %>
<h1>Vehicle <%-title %></h1>
<a href="../inv/add-classification" id="add-classification">Add New Classification</a>
<a href="../inv/add-vehicle" id="add-vehicle">Add New Vehicle</a>
